<%- include("../partials/header") %>
<h1>What is something you would want insight on?</h1>

<form action="/tarot" method="POST" autocomplete="off">
    <textarea id="reading4" name="question" required=true rows="6" cols="40"> Write question here. . .</textarea>
    <p>Select your four cards below</p>
    <label for="cardChoice">First Card</label>
    <select name="cardChoice">

        <option name="cardChoice" value="Ace of Wands - An Extremely high energy card, the ace of wands indicates new growth is all around you. Your ideas and outlook will expand, and creativity seems
        endless. This fertile time can also have literal meanings. . . A pregnancy or birth may be on the horizon. Though it's thirlling to embark on your new journey, your good judgement is needed more
        than ever. Don't rush into it.">Card</option>

        <option name="cardChoice" value="Two of Wands - With th two of wands, it's clear you're on your way to success. You've focused on a goal and have boldly pointed all efforts in that direction. 
        Since the usit of wands deals heavily with the mind, take this time to become more aware of your thought patterns, specifically toward yourself. What is the quality and tone of your thoughts? 
        Mostly positive or negative? How well do you treat yourself on the journey to your highest dreams?">Card
        </option>
        <option name="cardChoice" value="Three of Wands - The three of wands indicates you've had continued support from others (perhaps from your parents or two good friends). With their help, you've
        formed a sense of self, of your values and morals. But now it's time to rely on yourself for guidance. Clarify your goals, and cast other's needs and opinions aside. The future is infinite, and
        it is yours. No one else can see through its layers of light and shadow.">Card</option>

        <option name="cardChoice" value="Four of Wands - You've dont it! The four of wands is a card of completion. Your labors have been steady and strong, and the harvest will be plentiful. In other
         words, it's time to party. There might be an upcoming event to mark this occasion. . . a graduation, wedding, or celebration of some kind. So enjoy yourself and those you love. This is an 
         exciting and prosperous time.">Card</option>

        <option name="cardChoice" value="Five of Wands - The five of wands is a card of conflict. You may find yourself scattered, distracted, tending to everything and nothing. Since wands 
         deal with our dreams and goals, it usually means this conflict resides within. Your energy moves outward in many directions, yet you are suffering inside. Take this card as a warning: 
         find ways to bring calm and focus to your mind, or these troubles will only increase.">Card</option>

        <option name="cardChoice" value="Six of Wands - From the dark and tangled branches emerges a buttefly. New life takes flight. If you're not reveling in the joy of success already, 
         you will be soon. The six of wands is a card of victory, of rising up against the odds. The obstacles have been relentless, but now is not the time to look back upon them. The more pressing
         question is: Where will you go with your new set of wings?">Card</option>

        <option name="cardChoice" value="Seven of Wands - A single wand stands up tall, ablaze with light. The others fall away in shadow. Such is the story of the seven of wands. You'll not find anonymous
        strength or support from others, only yourself. It's time to be truly courageous and stand up for your beliefs. You may feel overwhelmed with caution and fear, but your internal fire will guide the 
        way">Card</option>

        <option name="cardChoice" value="Eight of Wands - The eight of wands strikes like lightning. It's a card of news, change, or clarity in an unresoled situation. You might hear from an old 
        friend out of the blue or recieve some surprising news that shifts the direction of your course. This card sometimes means literal movement is on the horizon, so be ready to travel if the 
        opportunity arises.">Card</option>

        <option name="cardChoice" value="Nine of Wands - As nines usually imply, your journey isnear completion. But on this final stretch you find yourself growing weary; doubt and fear are 
        running through your mind. The nine of wands asks you to rally your confidence and realize how far you've come. Lift your eyes and take a few more steps. . . soon all your hard work 
        will start to pay off.">Card</option>

        <option name="cardChoice"
            value="Ten of Wands - The ten of wands is a difficult card to face. Mental or physical burdens have been weighing on your spirit. OVer time this leads to 
        hopelessness and deppression. You simply can't 'get through' to what you wnat. You cannot see the way. If this card appears in response to a person or situation, it may be best to simply walk away. 
        But if this card comes up frequently, it indicates you are attracted to negativity. You choose to walk the hard road.">Card</option>

        <option name="cardChoice" value="Daughter of Wands - The daughter of wands is a free spirit, a truly visionary creature. She usually waits until later to settle down or start a family, 
        as she's busy with her career. She can be stubborn and much stronger than she looks. As with all the wands family, the Daughter makes a dangerous enemy. This card can also represent a woman
        going through a transformation or spiritual breakthrough.">Card</option>

        <option name="cardChoice"
            value="Son of Wands - The sond of wands is a true charmer. He's handsome and adventurous and seems to say all the right things. Some call him the 'white knight' of the 
        tarot. But at some point you may find he becomes hard to know. Trust your instinct with this one - perfection is an illusion.">Card
        </option>

        <option name="cardChoice" value="Mother of Wands - The mother of wands is a vibrant woman and happy mother. Family comes first in her world - she's very protective of it and is the dominant parent 
        within the home. Though proud and determined, she has enough grace and beauty that you'd hardly notice her forceful nature. Oftentimes she has overcome great pain or trauma in her life. I'ts important
         not to get on her bad side.">Card</option>

        <option name="cardChoice"
            value="Father of Wands - The father of wands is a man of mystique and charisma. Others are drawn to him naturally, and he welcomes them with an open and loving heart. usually you'll 
         find him involved in the healing arts, as he's deeply compassionateand in tune with life and nature. He is able to hold steady and still during conflift.">
            Card</option>
    </select>

    <label for="cardChoice">Second Card</label>
    <select name="cardChoice">

        <option name="cardChoice" value="Ace of Wands - An Extremely high energy card, the ace of wands indicates new growth is all around you. Your ideas and outlook will expand, and creativity seems
        endless. This fertile time can also have literal meanings. . . A pregnancy or birth may be on the horizon. Though it's thirlling to embark on your new journey, your good judgement is needed more
        than ever. Don't rush into it.">Card</option>

        <option name="cardChoice" value="Two of Wands - With th two of wands, it's clear you're on your way to success. You've focused on a goal and have boldly pointed all efforts in that direction. 
        Since the usit of wands deals heavily with the mind, take this time to become more aware of your thought patterns, specifically toward yourself. What is the quality and tone of your thoughts? 
        Mostly positive or negative? How well do you treat yourself on the journey to your highest dreams?">Card
        </option>
        <option name="cardChoice" value="Three of Wands - The three of wands indicates you've had continued support from others (perhaps from your parents or two good friends). With their help, you've
        formed a sense of self, of your values and morals. But now it's time to rely on yourself for guidance. Clarify your goals, and cast other's needs and opinions aside. The future is infinite, and
        it is yours. No one else can see through its layers of light and shadow.">Card</option>

        <option name="cardChoice" value="Four of Wands - You've dont it! The four of wands is a card of completion. Your labors have been steady and strong, and the harvest will be plentiful. In other
         words, it's time to party. There might be an upcoming event to mark this occasion. . . a graduation, wedding, or celebration of some kind. So enjoy yourself and those you love. This is an 
         exciting and prosperous time.">Card</option>

        <option name="cardChoice" value="Five of Wands - The five of wands is a card of conflict. You may find yourself scattered, distracted, tending to everything and nothing. Since wands 
         deal with our dreams and goals, it usually means this conflict resides within. Your energy moves outward in many directions, yet you are suffering inside. Take this card as a warning: 
         find ways to bring calm and focus to your mind, or these troubles will only increase.">Card</option>

        <option name="cardChoice" value="Six of Wands - From the dark and tangled branches emerges a buttefly. New life takes flight. If you're not reveling in the joy of success already, 
         you will be soon. The six of wands is a card of victory, of rising up against the odds. The obstacles have been relentless, but now is not the time to look back upon them. The more pressing
         question is: Where will you go with your new set of wings?">Card</option>

        <option name="cardChoice" value="Seven of Wands - A single wand stands up tall, ablaze with light. The others fall away in shadow. Such is the story of the seven of wands. You'll not find anonymous
        strength or support from others, only yourself. It's time to be truly courageous and stand up for your beliefs. You may feel overwhelmed with caution and fear, but your internal fire will guide the 
        way">Card</option>

        <option name="cardChoice" value="Eight of Wands - The eight of wands strikes like lightning. It's a card of news, change, or clarity in an unresoled situation. You might hear from an old 
        friend out of the blue or recieve some surprising news that shifts the direction of your course. This card sometimes means literal movement is on the horizon, so be ready to travel if the 
        opportunity arises.">Card</option>

        <option name="cardChoice" value="Nine of Wands - As nines usually imply, your journey isnear completion. But on this final stretch you find yourself growing weary; doubt and fear are 
        running through your mind. The nine of wands asks you to rally your confidence and realize how far you've come. Lift your eyes and take a few more steps. . . soon all your hard work 
        will start to pay off.">Card</option>

        <option name="cardChoice"
            value="Ten of Wands - The ten of wands is a difficult card to face. Mental or physical burdens have been weighing on your spirit. OVer time this leads to 
        hopelessness and deppression. You simply can't 'get through' to what you wnat. You cannot see the way. If this card appears in response to a person or situation, it may be best to simply walk away. 
        But if this card comes up frequently, it indicates you are attracted to negativity. You choose to walk the hard road.">Card</option>

        <option name="cardChoice" value="Daughter of Wands - The daughter of wands is a free spirit, a truly visionary creature. She usually waits until later to settle down or start a family, 
        as she's busy with her career. She can be stubborn and much stronger than she looks. As with all the wands family, the Daughter makes a dangerous enemy. This card can also represent a woman
        going through a transformation or spiritual breakthrough.">Card</option>

        <option name="cardChoice"
            value="Son of Wands - The sond of wands is a true charmer. He's handsome and adventurous and seems to say all the right things. Some call him the 'white knight' of the 
        tarot. But at some point you may find he becomes hard to know. Trust your instinct with this one - perfection is an illusion.">Card
        </option>

        <option name="cardChoice" value="Mother of Wands - The mother of wands is a vibrant woman and happy mother. Family comes first in her world - she's very protective of it and is the dominant parent 
        within the home. Though proud and determined, she has enough grace and beauty that you'd hardly notice her forceful nature. Oftentimes she has overcome great pain or trauma in her life. I'ts important
         not to get on her bad side.">Card</option>

        <option name="cardChoice"
            value="Father of Wands - The father of wands is a man of mystique and charisma. Others are drawn to him naturally, and he welcomes them with an open and loving heart. usually you'll 
         find him involved in the healing arts, as he's deeply compassionateand in tune with life and nature. He is able to hold steady and still during conflift.">
            Card</option>
    </select>

    <label for="cardChoice">Third Card</label>
    <select name="cardChoice">

        <option name="cardChoice" value="Ace of Wands - An Extremely high energy card, the ace of wands indicates new growth is all around you. Your ideas and outlook will expand, and creativity seems
        endless. This fertile time can also have literal meanings. . . A pregnancy or birth may be on the horizon. Though it's thirlling to embark on your new journey, your good judgement is needed more
        than ever. Don't rush into it.">Card</option>

        <option name="cardChoice" value="Two of Wands - With th two of wands, it's clear you're on your way to success. You've focused on a goal and have boldly pointed all efforts in that direction. 
        Since the usit of wands deals heavily with the mind, take this time to become more aware of your thought patterns, specifically toward yourself. What is the quality and tone of your thoughts? 
        Mostly positive or negative? How well do you treat yourself on the journey to your highest dreams?">Card
        </option>
        <option name="cardChoice" value="Three of Wands - The three of wands indicates you've had continued support from others (perhaps from your parents or two good friends). With their help, you've
        formed a sense of self, of your values and morals. But now it's time to rely on yourself for guidance. Clarify your goals, and cast other's needs and opinions aside. The future is infinite, and
        it is yours. No one else can see through its layers of light and shadow.">Card</option>

        <option name="cardChoice" value="Four of Wands - You've dont it! The four of wands is a card of completion. Your labors have been steady and strong, and the harvest will be plentiful. In other
         words, it's time to party. There might be an upcoming event to mark this occasion. . . a graduation, wedding, or celebration of some kind. So enjoy yourself and those you love. This is an 
         exciting and prosperous time.">Card</option>

        <option name="cardChoice" value="Five of Wands - The five of wands is a card of conflict. You may find yourself scattered, distracted, tending to everything and nothing. Since wands 
         deal with our dreams and goals, it usually means this conflict resides within. Your energy moves outward in many directions, yet you are suffering inside. Take this card as a warning: 
         find ways to bring calm and focus to your mind, or these troubles will only increase.">Card</option>

        <option name="cardChoice" value="Six of Wands - From the dark and tangled branches emerges a buttefly. New life takes flight. If you're not reveling in the joy of success already, 
         you will be soon. The six of wands is a card of victory, of rising up against the odds. The obstacles have been relentless, but now is not the time to look back upon them. The more pressing
         question is: Where will you go with your new set of wings?">Card</option>

        <option name="cardChoice" value="Seven of Wands - A single wand stands up tall, ablaze with light. The others fall away in shadow. Such is the story of the seven of wands. You'll not find anonymous
        strength or support from others, only yourself. It's time to be truly courageous and stand up for your beliefs. You may feel overwhelmed with caution and fear, but your internal fire will guide the 
        way">Card</option>

        <option name="cardChoice" value="Eight of Wands - The eight of wands strikes like lightning. It's a card of news, change, or clarity in an unresoled situation. You might hear from an old 
        friend out of the blue or recieve some surprising news that shifts the direction of your course. This card sometimes means literal movement is on the horizon, so be ready to travel if the 
        opportunity arises.">Card</option>

        <option name="cardChoice" value="Nine of Wands - As nines usually imply, your journey isnear completion. But on this final stretch you find yourself growing weary; doubt and fear are 
        running through your mind. The nine of wands asks you to rally your confidence and realize how far you've come. Lift your eyes and take a few more steps. . . soon all your hard work 
        will start to pay off.">Card</option>

        <option name="cardChoice"
            value="Ten of Wands - The ten of wands is a difficult card to face. Mental or physical burdens have been weighing on your spirit. OVer time this leads to 
        hopelessness and deppression. You simply can't 'get through' to what you wnat. You cannot see the way. If this card appears in response to a person or situation, it may be best to simply walk away. 
        But if this card comes up frequently, it indicates you are attracted to negativity. You choose to walk the hard road.">Card</option>

        <option name="cardChoice" value="Daughter of Wands - The daughter of wands is a free spirit, a truly visionary creature. She usually waits until later to settle down or start a family, 
        as she's busy with her career. She can be stubborn and much stronger than she looks. As with all the wands family, the Daughter makes a dangerous enemy. This card can also represent a woman
        going through a transformation or spiritual breakthrough.">Card</option>

        <option name="cardChoice"
            value="Son of Wands - The sond of wands is a true charmer. He's handsome and adventurous and seems to say all the right things. Some call him the 'white knight' of the 
        tarot. But at some point you may find he becomes hard to know. Trust your instinct with this one - perfection is an illusion.">Card
        </option>

        <option name="cardChoice" value="Mother of Wands - The mother of wands is a vibrant woman and happy mother. Family comes first in her world - she's very protective of it and is the dominant parent 
        within the home. Though proud and determined, she has enough grace and beauty that you'd hardly notice her forceful nature. Oftentimes she has overcome great pain or trauma in her life. I'ts important
         not to get on her bad side.">Card</option>

        <option name="cardChoice"
            value="Father of Wands - The father of wands is a man of mystique and charisma. Others are drawn to him naturally, and he welcomes them with an open and loving heart. usually you'll 
         find him involved in the healing arts, as he's deeply compassionateand in tune with life and nature. He is able to hold steady and still during conflift.">
            Card</option>
    </select>

    <label for="cardChoice">Fourth Card</label>
    <select name="cardChoice">

        <option name="cardChoice" value="Ace of Wands - An Extremely high energy card, the ace of wands indicates new growth is all around you. Your ideas and outlook will expand, and creativity seems
        endless. This fertile time can also have literal meanings. . . A pregnancy or birth may be on the horizon. Though it's thirlling to embark on your new journey, your good judgement is needed more
        than ever. Don't rush into it.">Card</option>

        <option name="cardChoice" value="Two of Wands - With th two of wands, it's clear you're on your way to success. You've focused on a goal and have boldly pointed all efforts in that direction. 
        Since the usit of wands deals heavily with the mind, take this time to become more aware of your thought patterns, specifically toward yourself. What is the quality and tone of your thoughts? 
        Mostly positive or negative? How well do you treat yourself on the journey to your highest dreams?">Card
        </option>
        <option name="cardChoice" value="Three of Wands - The three of wands indicates you've had continued support from others (perhaps from your parents or two good friends). With their help, you've
        formed a sense of self, of your values and morals. But now it's time to rely on yourself for guidance. Clarify your goals, and cast other's needs and opinions aside. The future is infinite, and
        it is yours. No one else can see through its layers of light and shadow.">Card</option>

        <option name="cardChoice" value="Four of Wands - You've dont it! The four of wands is a card of completion. Your labors have been steady and strong, and the harvest will be plentiful. In other
         words, it's time to party. There might be an upcoming event to mark this occasion. . . a graduation, wedding, or celebration of some kind. So enjoy yourself and those you love. This is an 
         exciting and prosperous time.">Card</option>

        <option name="cardChoice" value="Five of Wands - The five of wands is a card of conflict. You may find yourself scattered, distracted, tending to everything and nothing. Since wands 
         deal with our dreams and goals, it usually means this conflict resides within. Your energy moves outward in many directions, yet you are suffering inside. Take this card as a warning: 
         find ways to bring calm and focus to your mind, or these troubles will only increase.">Card</option>

        <option name="cardChoice" value="Six of Wands - From the dark and tangled branches emerges a buttefly. New life takes flight. If you're not reveling in the joy of success already, 
         you will be soon. The six of wands is a card of victory, of rising up against the odds. The obstacles have been relentless, but now is not the time to look back upon them. The more pressing
         question is: Where will you go with your new set of wings?">Card</option>

        <option name="cardChoice" value="Seven of Wands - A single wand stands up tall, ablaze with light. The others fall away in shadow. Such is the story of the seven of wands. You'll not find anonymous
        strength or support from others, only yourself. It's time to be truly courageous and stand up for your beliefs. You may feel overwhelmed with caution and fear, but your internal fire will guide the 
        way">Card</option>

        <option name="cardChoice" value="Eight of Wands - The eight of wands strikes like lightning. It's a card of news, change, or clarity in an unresoled situation. You might hear from an old 
        friend out of the blue or recieve some surprising news that shifts the direction of your course. This card sometimes means literal movement is on the horizon, so be ready to travel if the 
        opportunity arises.">Card</option>

        <option name="cardChoice" value="Nine of Wands - As nines usually imply, your journey isnear completion. But on this final stretch you find yourself growing weary; doubt and fear are 
        running through your mind. The nine of wands asks you to rally your confidence and realize how far you've come. Lift your eyes and take a few more steps. . . soon all your hard work 
        will start to pay off.">Card</option>

        <option name="cardChoice"
            value="Ten of Wands - The ten of wands is a difficult card to face. Mental or physical burdens have been weighing on your spirit. OVer time this leads to 
        hopelessness and deppression. You simply can't 'get through' to what you wnat. You cannot see the way. If this card appears in response to a person or situation, it may be best to simply walk away. 
        But if this card comes up frequently, it indicates you are attracted to negativity. You choose to walk the hard road.">Card</option>

        <option name="cardChoice" value="Daughter of Wands - The daughter of wands is a free spirit, a truly visionary creature. She usually waits until later to settle down or start a family, 
        as she's busy with her career. She can be stubborn and much stronger than she looks. As with all the wands family, the Daughter makes a dangerous enemy. This card can also represent a woman
        going through a transformation or spiritual breakthrough.">Card</option>

        <option name="cardChoice"
            value="Son of Wands - The sond of wands is a true charmer. He's handsome and adventurous and seems to say all the right things. Some call him the 'white knight' of the 
        tarot. But at some point you may find he becomes hard to know. Trust your instinct with this one - perfection is an illusion.">Card
        </option>

        <option name="cardChoice" value="Mother of Wands - The mother of wands is a vibrant woman and happy mother. Family comes first in her world - she's very protective of it and is the dominant parent 
        within the home. Though proud and determined, she has enough grace and beauty that you'd hardly notice her forceful nature. Oftentimes she has overcome great pain or trauma in her life. I'ts important
         not to get on her bad side.">Card</option>

        <option name="cardChoice"
            value="Father of Wands - The father of wands is a man of mystique and charisma. Others are drawn to him naturally, and he welcomes them with an open and loving heart. usually you'll 
         find him involved in the healing arts, as he's deeply compassionate and in tune with life and nature. He is able to hold steady and still during conflift.">
            Card</option>
    </select>

    <button type="submit">Save/Get Tarot Reading</button>
</form>


<%- include("../partials/footer") %>