<%- include("../partials/header") %>
<h1>What is something you would want insight on?</h1>

<form action="/tarot" method="POST" autocomplete="off">
    <textarea id="reading4" name="reading4" required=true rows="6" cols="40"> Write question here. . .</textarea>
    <p>Select your four cards below</p>
    <table id="tarot-table">
        <tr>
            <td><input id="card1" type="checkbox" value="1" /><label for="card1">Card 1</label></td>
            <td><input id="card2" type="checkbox" value="2" /><label for="card2">Card 2</label></td>
            <td><input id="card3" type="checkbox" value="3" /><label for="card3">Card 3</label></td>
            <td><input id="card4" type="checkbox" value="4" /><label for="card4">Card 4</label></td>
            <td><input id="card5" type="checkbox" value="5" /><label for="card5">Card 5</label></td>
            <td><input id="card6" type="checkbox" value="6" /><label for="card6">Card 6</label></td>
            <td><input id="card7" type="checkbox" value="7" /><label for="card7">Card 7</label></td>
            <td><input id="card8" type="checkbox" value="8" /><label for="card8">Card 8</label></td>
            <td><input id="card9" type="checkbox" value="9" /><label for="card9">Card 9</label></td>
            <td><input id="card10" type="checkbox" value="10" /><label for="card10">Card 10</label></td>
        </tr>
        <tr>
            <td><input id="card11" type="checkbox" value="11" /><label for="card11">Card 11</label></td>
            <td><input id="card12" type="checkbox" value="12" /><label for="card12">Card 12</label></td>
            <td><input id="card13" type="checkbox" value="13" /><label for="card13">Card 13</label></td>
            <td><input id="card14" type="checkbox" value="14" /><label for="card14">Card 14</label></td>
            <td><input id="card15" type="checkbox" value="15" /><label for="card15">Card 15</label></td>
            <td><input id="card16" type="checkbox" value="16" /><label for="card16">Card 16</label></td>
            <td><input id="card17" type="checkbox" value="17" /><label for="card17">Card 17</label></td>
            <td><input id="card18" type="checkbox" value="18" /><label for="card18">Card 18</label></td>
            <td><input id="card19" type="checkbox" value="19" /><label for="card19">Card 19</label></td>
            <td><input id="card20" type="checkbox" value="20" /><label for="card20">Card 20</label></td>
        </tr>
        <tr>
            <td><input id="card21" type="checkbox" value="21" /><label for="card21">Card 21</label></td>
            <td><input id="card22" type="checkbox" value="22" /><label for="card22">Card 22</label></td>
            <td><input id="card23" type="checkbox" value="23" /><label for="card23">Card 23</label></td>
            <td><input id="card24" type="checkbox" value="24" /><label for="card24">Card 24</label></td>
            <td><input id="card25" type="checkbox" value="25" /><label for="card25">Card 25</label></td>
            <td><input id="card26" type="checkbox" value="26" /><label for="card26">Card 26</label></td>
            <td><input id="card27" type="checkbox" value="27" /><label for="card27">Card 27</label></td>
            <td><input id="card28" type="checkbox" value="28" /><label for="card28">Card 28</label></td>
            <td><input id="card29" type="checkbox" value="29" /><label for="card29">Card 29</label></td>
            <td><input id="card30" type="checkbox" value="30" /><label for="card30">Card 30</label></td>
        </tr>
        <tr>
            <td><input id="card31" type="checkbox" value="31" /><label for="card31">Card 31</label></td>
            <td><input id="card32" type="checkbox" value="32" /><label for="card32">Card 32</label></td>
            <td><input id="card33" type="checkbox" value="33" /><label for="card33">Card 33</label></td>
            <td><input id="card34" type="checkbox" value="34" /><label for="card34">Card 34</label></td>
            <td><input id="card35" type="checkbox" value="35" /><label for="card35">Card 35</label></td>
            <td><input id="card36" type="checkbox" value="36" /><label for="card36">Card 36</label></td>
            <td><input id="card37" type="checkbox" value="37" /><label for="card37">Card 37</label></td>
            <td><input id="card38" type="checkbox" value="38" /><label for="card38">Card 38</label></td>
            <td><input id="card39" type="checkbox" value="39" /><label for="card39">Card 39</label></td>
            <td><input id="card40" type="checkbox" value="40" /><label for="card40">Card 40</label></td>
        </tr>
        <tr>
            <td><input id="card41" type="checkbox" value="41" /><label for="card41">Card 41</label></td>
            <td><input id="card42" type="checkbox" value="42" /><label for="card42">Card 42</label></td>
            <td><input id="card43" type="checkbox" value="43" /><label for="card43">Card 43</label></td>
            <td><input id="card44" type="checkbox" value="44" /><label for="card44">Card 44</label></td>
            <td><input id="card45" type="checkbox" value="45" /><label for="card45">Card 45</label></td>
            <td><input id="card46" type="checkbox" value="46" /><label for="card46">Card 46</label></td>
            <td><input id="card47" type="checkbox" value="47" /><label for="card47">Card 47</label></td>
            <td><input id="card48" type="checkbox" value="48" /><label for="card48">Card 48</label></td>
            <td><input id="card49" type="checkbox" value="49" /><label for="card49">Card 49</label></td>
            <td><input id="card50" type="checkbox" value="50" /><label for="card50">Card 50</label></td>
        </tr>
        <tr>
            <td><input id="card51" type="checkbox" value="51" /><label for="card51">Card 51</label></td>
            <td><input id="card52" type="checkbox" value="52" /><label for="card52">Card 52</label></td>
            <td><input id="card53" type="checkbox" value="53" /><label for="card53">Card 53</label></td>
            <td><input id="card54" type="checkbox" value="54" /><label for="card54">Card 54</label></td>
            <td><input id="card55" type="checkbox" value="55" /><label for="card55">Card 55</label></td>
            <td><input id="card56" type="checkbox" value="56" /><label for="card56">Card 56</label></td>
            <td><input id="card57" type="checkbox" value="57" /><label for="card57">Card 57</label></td>
            <td><input id="card58" type="checkbox" value="58" /><label for="card58">Card 58</label></td>
            <td><input id="card59" type="checkbox" value="59" /><label for="card59">Card 59</label></td>
            <td><input id="card60" type="checkbox" value="60" /><label for="card60">Card 60</label></td>
        </tr>
        <tr>
            <td><input id="card61" type="checkbox" value="61" /><label for="card61">Card 61</label></td>
            <td><input id="card62" type="checkbox" value="62" /><label for="card62">Card 62</label></td>
            <td><input id="card63" type="checkbox" value="63" /><label for="card63">Card 63</label></td>
            <td><input id="card64" type="checkbox" value="64" /><label for="card64">Card 64</label></td>
            <td><input id="card65" type="checkbox" value="65" /><label for="card65">Card 65</label></td>
            <td><input id="card66" type="checkbox" value="66" /><label for="card66">Card 66</label></td>
            <td><input id="card67" type="checkbox" value="67" /><label for="card67">Card 67</label></td>
            <td><input id="card68" type="checkbox" value="68" /><label for="card68">Card 68</label></td>
            <td><input id="card69" type="checkbox" value="69" /><label for="card69">Card 69</label></td>
            <td><input id="card70" type="checkbox" value="70" /><label for="card70">Card 70</label></td>
        </tr>
        <tr>
            <td><input id="card71" type="checkbox" value="71" /><label for="card71">Card 71</label></td>
            <td><input id="card72" type="checkbox" value="72" /><label for="card72">Card 72</label></td>
            <td><input id="card73" type="checkbox" value="73" /><label for="card73">Card 73</label></td>
            <td><input id="card74" type="checkbox" value="74" /><label for="card74">Card 74</label></td>
            <td><input id="card75" type="checkbox" value="75" /><label for="card75">Card 75</label></td>
            <td><input id="card76" type="checkbox" value="76" /><label for="card76">Card 76</label></td>
            <td><input id="card77" type="checkbox" value="77" /><label for="card77">Card 77</label></td>
            <td><input id="card78" type="checkbox" value="78" /><label for="card78">Card 78</label></td>
        </tr>
    </table>
    <button type="submit">Save/Get Tarot Reading</button>
</form>

<%- include("../partials/footer") %>