<%- include("./partials/header") %>

<!-- TO BE USED IN FUTURE REVISIONS -->
<h1>Tarot Diary Calendar</h1>

<h2><%= month %></h2>
<% for(let i = 1; i <= days; i++){ %>
<a href="/calendar/"><%- i %></a>
<% }; %>
<!-- TO BE USED IN FUTURE REVISIONS -->

<%- include("./partials/footer") %>