<%- include("./partials/header") %>
<div class="card-body">
    <h1>Tarot Diary</h1>
    <p>What reading would you like?</p>
    <section class="card-choices">
        <a href="/tarot/new1" id="new1"> Single Card Reading</a>
        <a href="/tarot/new3" id="new3"> Three Card Reading</a>
        <a href="/tarot/new4" id="new4">Four Card Reading</a>
    </section>
</div>
<%- include("./partials/footer") %>