<%- include("./partials/header") %>

<h1>Tarot Diary</h1>
<p>What reading would you like?</p>

<a href="/tarot1" id="tarot1"> Single Card Reading</a>
<a href="/tarot3" id="tarot3"> Three Card Reading</a>
<a href="/tarot4" id="tarot4">Four Card Reading</a>
<%- include("./partials/footer") %>