<%- include("./partials/header") %>
<div class="card-body">
<h1>Tarot Reading Explanations</h1>
<h2>What should you ask?</h2>
<p>Before beginning any reading, it's very important to clarify what your or your querent's intentions and expectations are. To get the ball rolling, ask:</p>
<p>"What do you want to know?"</p>
<p>"Why do you want to know it?"</p>
<p>After spending a few moments on this, formulate a clear question. Try to avoid yes or no questions. Beginning with the word "what" can be especially helpful. For example,
    "What do I need to know about. . .?" Once you have your question set, hold it steady in your mind. Repeat it out loud or internally while you shuffle the cards. This step is incredibly important.
</p>
<table id="card-info-table">
    <thead>
        <tr>
            <th>Card Reading </th>
            <th>Card Reading Usage</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>A Card a Day - One Card Reading</th>
            <th>A single card reading is a great way to familiarize yourself with the deck. It will help you learn to apply the cards directly to your life - and it only takes about five minutes. While 
                shuffling, simply ask something like "What do I need to focus on today?" Cut the cards once and turn over the top card, or be more casual about it and just pick one out. Spend a moment
                with the card before you rush to look up the meanaing.
            </th>
        </tr>
        <tr>
            <th>Past, Present, Future - Three card Reading</th>
            <th>Three card spreads are awesome. They quickly clarify a situation and are fairly simple to interpret, even if you're brand new to the tarot. The past, present, future spread is the most
                popular of the three card readings. You can use it to answer any type of question - it's meant to cut to the heart of the issue.
            </th>
        </tr>
        <tr>
            <th>Clarity Spread - Four Card Reading</th>
            <th>A go to spread foor getting clear about any type of perplexing situation. As can be expected in our complex world, it's rare that one card can capture the nuances of the whole story.
                The clarity spread offers a look into the overall scenario, asa well as the three contributing factors that, to greater or lesser degrees, flesh out the narrative. Thehse three cards appears
                in no particular order. . . It's up to you to decide how theyp lay a role. Don't overthink it. Look at them as subtly forces that weave their way into the bigger picture, causing stirs, ripples, 
                or beautiful waves. Remember, the card in position 1 remains the most powerful. Keep the clarity spread in your wheelhouse and use it often. It rarely dissapoints.
            </th>
        </tr>
    </tbody>
</table>
</div>


<%- include("./partials/footer") %>