<%- include("./partials/header") %>
<h1>What is something you would want insight on?</h1>

<textarea id="1-reading" name="1-reading" required=true rows="6" cols="40"> Write question here. . .</textarea>

<%- include("./partials/footer") %>